# This workflow will build the ApacheFOP WordPress plugin

name: Build ApacheFOP Plugin

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  #===========================================================================
  # Setup Variables
  #===========================================================================
  vars:
    name: Setup Variables
    runs-on: ubuntu-latest

    outputs:
      project_name: ${{ steps.setup-vars.outputs.project_name }}
      java_version: '21'
      java_distribution: 'corretto'
      fop_work_dir: fop_work

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup Variables
      id: setup-vars
      run: |
        # From RoboFile.php: grab the "PROJECT_NAME" const and extract the value
        echo "project_name=$(sed -nr "s/.*PROJECT_NAME[ \t]*=[ \t]*'(.+)';/\1/p" RoboFile.php)" >> $GITHUB_OUTPUT


  #===========================================================================
  # Build and test plugin
  #===========================================================================
  build-test-plugin:
      name: Build WordPress Plugin
      runs-on: ubuntu-latest
      needs: [vars]

      outputs:
        release_version: ${{ steps.save-version.outputs.version }}

      steps:
        # Checkout our code 
        - name: Checkout code
          uses: actions/checkout@v5

        - name: Setup PHP
          uses: shivammathur/setup-php@v2
          with:
              php-version: 8.2
              extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, mysql, mysqli, pdo_mysql, bcmath, soap, intl, gd, exif, iconv, imagick
              coverage: xdebug

        # Validate the Composer files
        - name: Validate composer.json and composer.lock
          run: composer validate

        # Fetch the vendor folder from the cache, keyed off the composer.lock file 
        - name: Cache Composer packages
          id: composer-cache
          uses: actions/cache@v4
          with:
            path: vendor
            key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
            restore-keys: |
              ${{ runner.os }}-php-

        # Run composer install if the vendor folder wasn't cached (based on the current composer.lock file) 
        - name: Install dependencies
          if: steps.composer-cache.outputs.cache-hit != 'true'
          run: composer install --prefer-dist --no-progress

        # Run the build
        - name: Full build
          run: |
            vendor/bin/robo release

        # Save versioned files 
        - name: Commit version files
          id: commit-version
          run: |
            git config --local user.email "$(git log --format='%ae' HEAD^!)"
            git config --local user.name "$(git log --format='%an' HEAD^!)"
            git add version.txt composer.json composer.lock entryPoint.php
            echo -n "Rev to version $(cat version.txt)" | git commit -F -
            git push
            echo "version-commit-ref=$(git show-ref --heads -s)" >>build.properties

        - name: Save build version
          id: save-version
          run: |
            echo "version=$(cat version.txt)" >> $GITHUB_OUTPUT

        - name: Save Artifacts
          uses: actions/upload-artifact@v4
          with:
            name: build-properties
            path: |
              build.properties
            retention-days: 5


  #===========================================================================
  # Build Linux application image
  #===========================================================================
  build-linux-app-image:
    name: Build Linux App Image on Ubuntu
    runs-on: ubuntu-latest
    needs: [vars, build-test-plugin]

    outputs:
      output_file: ${{ steps.local-vars.outputs.output_file }}

    steps:
    - name: Setup local vars
      id: local-vars
      run: |
        echo "output_file=${{ needs.vars.outputs.project_name }}-appimage-${{ needs.build-test-plugin.outputs.release_version }}.zip" >> "$GITHUB_OUTPUT"

    - name: Install additional code
      if: ${{ false }}
      run: |
        sudo apt-get update -y
        sudo apt-get install imagemagick

    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: ${{ needs.vars.outputs.java_version }}
        distribution: ${{ needs.vars.outputs.java_distribution }}

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
          php-version: 8.2
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, mysql, mysqli, pdo_mysql, bcmath, soap, intl, gd, exif, iconv, imagick

    - name: Download Robo via Composer
      if: ${{ false }}
      run: composer require consolidation/robo:^5

    - name: Download Robo
      run: |
        wget -q https://robo.li/robo.phar
        chmod +x robo.phar

    # BUILD FOR DISTRIBUTION
    - name: Build distribution
      run: |
        ./robo setup:image ${{ needs.vars.outputs.fop_work_dir }}
        jpackage --app-version ${{ needs.build-test-plugin.outputs.release_version }} --input ${{ needs.vars.outputs.fop_work_dir }} --dest ./target/dist "@jpackage/jpackage.cfg"
        
    - name: Zip App Image
      run: |
        zip -r ${{ steps.local-vars.outputs.output_file }} ./target/dist/ApacheFOP
#        pushd ./target/dist/ApacheFOP
#        tar -czvf ../${{ steps.local-vars.outputs.output_file }} *
#        popd 

    - name: Upload Linux App Image
      uses: actions/upload-artifact@v4
      with:
        path: ./target/dist/${{ steps.local-vars.outputs.output_file }}
        name: linux-app-image
        retention-days: 1


  #===========================================================================
  # Build Windows application image
  #===========================================================================
  build-windows-app-image:
    name: Build Windows app image
    if: ${{ false }}
    runs-on: windows-latest
    needs: [vars, build-test-plugin]

    outputs:
      output_file: ${{ steps.local-vars.outputs.output_file }}

    steps:
    - name: Setup local vars
      id: local-vars
      run: |
        echo "output_file=${{ needs.vars.outputs.project_name }}-unsigned-appimage-${{ needs.build-test-plugin.outputs.release_version }}.zip" >> "$Env:GITHUB_OUTPUT"

    - name: Checkout code
      uses: actions/checkout@v5
      with:
        submodules: 'true'

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: ${{ needs.vars.outputs.java_version }}
        distribution: ${{ needs.vars.outputs.java_distribution }}

    # BUILD FOR DISTRIBUTION
    - name: Build distribution
      run: |
        (Get-Content ./version.txt).replace('${project.version}', '${{ needs.build-test-plugin.outputs.release_version }}') | Set-Content ./src/main/resources/version.txt
        mvn -B package --file pom.xml
        jpackage --app-version ${{ needs.build-test-plugin.outputs.release_version }} "@jpackage/jpackage.cfg" "@jpackage/jpackage-windows-image.cfg"
        attrib -R ./target/dist/CprnXmlValidator/*

    - name: Zip App Image
      run: |
        Compress-Archive -Path ./target/dist/CprnXmlValidator/* -DestinationPath ./target/dist/${{ steps.local-vars.outputs.output_file }}

    # SAVE INSTALLER
    - name: Upload Windows app image
      uses: actions/upload-artifact@v4
      with:
        path: ./target/dist/${{ steps.local-vars.outputs.output_file }}
        name: windows-unsigned-app-image
        retention-days: 1


  #===========================================================================
  # Create release
  #===========================================================================
  create-release:
    runs-on: ubuntu-latest
    needs: [build-test-plugin, build-linux-app-image] #, build-windows-app-image]

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-properties

      - name: Read Build Properties
        run: |
          IFS="="
          while read -r key value
          do
            if [ -n $value ]; then
              echo A
              echo "$key=$value" >> $GITHUB_ENV
            else
              echo B
              echo "$key=$value" >> $GITHUB_ENV
            fi
          done < build.properties
          unset IFS
    
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ env.version-commit-ref }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
            php-version: 8.2
            extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, mysql, mysqli, pdo_mysql, bcmath, soap, intl, gd, exif, iconv, imagick
            coverage: none

      - name: Set up JDK
        if: ${{ false }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ needs.vars.outputs.java_version }}
          distribution: ${{ needs.vars.outputs.java_distribution }}

      - name: Download Robo via Composer
        if: ${{ false }}
        run: composer require consolidation/robo:^5

      - name: Download Robo
        run: |
          wget -q https://robo.li/robo.phar
          chmod +x robo.phar

      # Run composer install (based on the current composer.lock file) 
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-dev

      - name: Download Linux App Image
        uses: actions/download-artifact@v4
        with:
          name: linux-app-image

      - name: Download Windows app image
        uses: actions/download-artifact@v4
        with:
          name: windows-unsigned-app-image

      - name: Create Package
        run: |
          ./robo package ${{ steps.build-vars.outputs.version }}

      # CREATE GITHUB RELEASE AND ADD ASSETS
      - name: Create GitHub release
        id: create-release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.build-vars.outputs.version }}
          name: Release ${{ steps.build-vars.outputs.version }}
          commit: ${{ env.version-commit-ref }}
          omitBody: true
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts:
            build/${{ steps.build-vars.outputs.project_name }}_${{ steps.build-vars.outputs.version }}.zip

#      - name: Upload Release Asset
#        id: upload-release-asset
#        uses: actions/upload-release-asset@v1
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#          upload_url: ${{ steps.create-release.outputs.upload_url }}
#          asset_path: build/${{ steps.build-vars.outputs.project_name }}_${{ steps.build-vars.outputs.version }}.zip
#          asset_name: ${{ steps.build-vars.outputs.project_name }}_${{ steps.build-vars.outputs.version }}.zip
#          asset_content_type: application/zip
